sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t jmcausing/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true jmcausing/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-west-2"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-us-west-2-860399643556"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY

afOu8DufSSBfrltnWs3z08KjPP5Rl2tPwc4SAxAS
